<div class="col-md-6 col-md-offset-3">
  <h1> Edit <%= @caregiver.first_name %> <%= @caregiver.last_name%> </h1>
<%= form_for(@caregiver) do |f| %>

  <%= render 'caregivers/error_messages' %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control' %>


    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>


    <%= f.label :phone_number %>
    <p> This phone must be capable of receiving text messages </p>
    <%= f.telephone_field :phone_number, class: 'form-control' %>

    <%= f.submit "Save Changes", class: "btn btn-primary" %>
<% end %>

</div>
